
/* #root {
  background: white;
  color: var(--cmain);
  line-height: 1.25;
} */

.wip {
  text-decoration:line-through;
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}

.fullpage {
  min-height: 100vh;
  min-height: 100dvh;
}

.widetext {
  text-transform: uppercase;
  letter-spacing: 1.7rem;
}

.outlinetext {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: transparent;
}

.boxshadow {
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}
.boxshadow.inner {
  box-shadow: inset 0 0 20px gray;
}

.card {
  color: var(--cmain);
  background-color: var(--cneutral);
  border-radius: 1rem;
  border: solid lightgray 1px;
  contain: paint;
  line-height: 1.25;
  font-size: 1.25rem;
  padding: 1rem;
}
.card.clean {
  border: none;
}

.grainy { 
  background-image: url("noise.svg");
  background-blend-mode: multiply;
  background-size: 75px;
}

.polaroid {
  background-color: white;
  font-size: 1.3vw;
  padding: 1vw;
  padding-bottom: 4vw;
  width: 15vw;
  height: 20vw;
  position: relative;
}
.polaroid::after {
  content: attr(data-title);    
  color: #444;
}
.polaroid:nth-child(1) {
  transform: rotate(10deg);
}
.polaroid:nth-child(2) {
  transform: rotate(-7deg);
}
.polaroid:nth-child(3) {
  transform: rotate(15deg);
}
.polaroid:nth-child(4) {
  transform: rotate(-3deg);
}
