/* Debug */

header.debug {
	width: 100%;
  border: dotted greenyellow 2px;
}

section.debug {
	width: 100%;
  border: dotted blue 4px;
}

div.debug {
  border: solid gray 1px;
}

.Page.debug::after, .Page.debug::before{
  content: none;
}

/* Debug end */