
.Logo {
  --unit: min(10em,10vw);
}

.Logo.Sidefan {
  margin: 1rem;
  position: relative; 
  stroke: white;
  fill: white;
  mix-blend-mode: exclusion;
}
.Logo.Sidefan{
  display: flex;
}
.Logo.Sidefan .LogoTextScene line {
  --len: 57;
  stroke-dasharray: var(--len);
  stroke-dashoffset: var(--len);
  transition: stroke-dashoffset 2s;
}
.Logo.Sidefan .LogoTextScene:hover line {
  stroke-dashoffset: calc(var(--len) * -2 * 1);
}


.Logo svg {
  display: inline-block;
  margin:0;
  padding:0; 
  stroke: white;
  fill: white;
  /* mix-blend-mode: exclusion; */
}

.Logo.Sidefan text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

.Logo.Sidefan .Wrap svg {
  width: 100%;
  height: 100%;
}
.Logo.Sidefan .SpreadScene {
  height: var(--unit);
  width: calc(var(--unit) * 0.75);
}
.Logo.Sidefan .LogoTextScene {
  height: var(--unit);
  width: calc(var(--unit) * 4.75);
  /* clip-path: polygon(0 0, 100% 0, 91% 100%, 0% 100%); */
}


.Logo.Sidefan .Wrap{
  display: inline-block;
  height: var(--unit);
}
.Logo.Sidefan .Wrap.ll{
  width: calc(var(--unit) * 0.75);
}
.Logo.Sidefan .Wrap.Dummy{
  width: calc(var(--unit) * 0.5);
}
.Logo.Sidefan .Wrap.rr{
  position: absolute;
  right: calc(var(--unit) * 0);
  width: calc(var(--unit) * 1);
  clip-path: polygon(52% 00%, 100% 0, 100% 100%, 10% 100%);
}

.Logo.Sidefan .Spread {
  opacity:0;
}
.Logo.Sidefan .Spread.ll{
  animation: kf-spread-l 3s ease-in infinite;
  transform-origin: 0 0;
}
.Logo.Sidefan .Spread.rr{
  animation: kf-spread-r 3s ease-in infinite;
  transform-origin: 0 0;
}
.Logo.Sidefan .Spread.ll:nth-child(2),
.Logo.Sidefan .Spread.rr:nth-child(2){
  animation-delay:1s;
}
.Logo.Sidefan .Spread.ll:nth-child(3),
.Logo.Sidefan .Spread.rr:nth-child(3){
  animation-delay:2s;
}


@keyframes kf-spread-l{
  from{
    transform:translate3d(0,0,0);
    opacity:0;
  }
  to{
    transform:translate3d(100%,0,0);
    opacity:1;
  }
}
@keyframes kf-spread-r{
  from{
    transfrom:translate3d(0,0,0);
    opacity:0;
  }
  to{
    transform:translate3d(-50%,0,0);
    opacity:1;
  }
}


.Logo.Icon {
  min-height: 2rem;
  max-height: 6rem;
  display: grid;
  place-items: center;
}

.Logo.Icon svg{
  fill: none;
  stroke-width: 60px;
  stroke: black;
  
  height: min(5vmin, 2rem);

  stroke: white;
  mix-blend-mode: difference;
  
  /* border: solid red 1px; */
}


.Logo.Icon svg{
  stroke-width: 50px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: kf-icon-entry 2s 1s; 
  transition: stroke-dashoffset 1.8s, stroke 1.8s;
} 

.Logo.Icon svg:hover {
  stroke-dashoffset: 2000;
  stroke: gray;
}

@keyframes kf-icon-entry {
  from {stroke-dashoffset: 0;}
  to {stroke-dashoffset: 2000;}
}



@keyframes kf-distance {
  from {
    opacity: 0.2;
    transform: translate3d(0px, 0px, 0px);
  }
  40% {
    opacity: 0.1;
  }
  to {
    opacity: 0;
    transform: translate3d(40%, 20%, -2000px);
  }
}




.object{
  position:relative;
  width: 100%;
  height: 2em;
  transform-style: preserve-3d;
}
.face{
  position:absolute;
  white-space: nowrap;
  box-sizing: border-box;
  padding:.5em;
  height:2em;
  width:max-contnet;
  
  box-shadow:inset 0 0 2rem rgba(255,255,255,.3);
  
  color: var(--accent);
  background: var(--filler);
  border:solid var(--accent) 3px;
}
.face:nth-child(1){ 
  transform: translateZ(1em);
}
.face:nth-child(2){ 
  color: var(--filler);
  background: var(--accent);
  transform:rotateX(-90deg) translateZ(1em);
}
.face:nth-child(3){ 
  color: var(--filler);
  background: var(--accent);
  transform:rotateX(90deg) translateZ(1em);
}
.face:nth-child(4){ 
  transform:rotateX(180deg) translateZ(1em);
}

