body{
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

/* End font */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
  transition: color 0.35s, background-color 0.25s, outline 0.25s,
    border 0.5s, opacity 0.35s;
}


h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1.25rem;
}


body {
  color: var(--cmain);
  background-color: var(--cback);
}

a {
  text-decoration: none;
  color: var(--cprimary);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}
/* 
summary > * {
  display: inline-block;
} */

button {
  --theme: rgb(48, 69, 131);
  --themelight: rgb(41, 104, 192);
  --themetext: white;
  --rr: 1rem;
  --dt: 0.2s; 
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;

  --margin: calc(var(--rr)*2);
  margin-bottom: var(--margin);
  margin-right: var(--margin);
  padding: 1rem;
  
  background: var(--theme);
  color: var(--themetext);

  border: none;
  border-radius: calc(var(--rr)/3);

  position: relative;
  transition: all var(--dt) calc(var(--dt) * 2), background-color var(--dt) var(--dt);
}
button:hover {
  --theme: var(--themelight);
  background: var(--themelight);
  border-radius: 0 0 var(--rr) 0;
  transition: all var(--dt), background-color var(--dt) var(--dt);
}


button:after,
button:before{
  content:'';
  --th: calc(var(--rr)/4);
  border: solid var(--theme) var(--th);
  border-left: none;
  border-top: none;
  
  position:absolute;
  inset: 0;
  left: 50%;
  top: 50%;
  --off: calc(-0.5*var(--rr));
  transition: all var(--dt), border-color var(--dt) var(--dt);
}
button:after{
  border-radius: 0 0 calc(var(--rr)*1.33) 0;
}
button:after{
  transition: all var(--dt) var(--dt), border-color var(--dt) var(--dt);
}
button:before {
  --off: calc(-1*var(--rr)); 
  border-radius: 0 0 calc(var(--rr)*1.7) 0;
}
button:hover:after,
button:hover:before{
  top: 0;
  left: 0;
  bottom: var(--off);
  right: var(--off);
  border-color: var(--themelight);
  transition: all var(--dt) var(--dt);
}
button:hover:before {
  transition: all var(--dt) calc(var(--dt) * 2), border-color var(--dt) var(--dt);
}


/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--cback);
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--chidden);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--cprimary);
}

