/* @import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Croissant+One&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:wght@300;400;500&family=Young+Serif&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Croissant+One&family=Dosis:wght@200;300;400;500;600;700;800&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Young+Serif&display=swap');
.Font.Alt2{
  font-family: 'Croissant One', cursive;
}
.Font.Alt{
  font-family: 'Bacasime Antique', serif;
}
.Font.Fancy{
  font-family: 'Young Serif', serif;
}

:root{ 
  --bb: min(0.5rem, min(5vh,5vw));
  --bbb: calc(var(--bb)*3);
  --acc: min(4px,3vh);
  --pscroll: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
  transition: color 0.35s, background-color 0.25s, outline 0.25s,
    border 0.5s, opacity 0.35s;
}

*, *::after, *::before, .Font.Body{
  font-family: 'Dosis', sans-serif;
  /* border-radius: 1rem; */
}
h1, h2, h3, h4, h5, h6, .Font.Heading {
  font-family: "Josefin Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6{
  text-transform: uppercase;
}
span, p, div, section {
  line-height: 1.75;
  /* font-style: italic; */
}
.Font.More {
  font-weight: 500;
}


h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1.25rem;
}


body {
  color: var(--cmain);
  background-color: var(--cback);
}

a {
  text-decoration: none;
  color: var(--cprimary);
  display: flex;
  align-items: center;
  /* filter: drop-shadow(2px 2px 10px var(--cmain)); */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}

summary > * {
  display: inline-block;
}

/* :is(button, input:is([type="submit"], [type="button"])){
  font-family: "Josefin Sans", sans-serif;
  background-color: transparent;
  color:var(--cmain);
  text-transform: uppercase;
  padding: 0.5rem;
  margin: 0.25rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

:is(button, input:is([type="submit"], [type="button"])),
button::before, button::after{
  border-radius: var(--bb);
  border: none;
  border-bottom: 2px solid var(--theme);
  border-right: 2px solid var(--theme);
}
input:is([type="button"]){
  border-color: var(--calt);
}
input:is([type="submit"]){
  border-color: var(--cfore);
}

:is(button, input[type="submit"], input[type="button"]):hover{
  background-color: var(--csub);
} */

button {
  --theme: rgb(48, 69, 131);
  --themelight: rgb(41, 104, 192);
  --themetext: white;
  --rr: 1rem;
  --dt: 0.2s; 
  font-size: 1.25rem;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5rem;

  --margin: calc(var(--rr)*2);
  margin-bottom: var(--margin);
  margin-right: var(--margin);
  padding: 1rem;
  
  background: var(--theme);
  color: var(--themetext);

  border: none;
  border-radius: calc(var(--rr)/3);

  position: relative;
  transition: all var(--dt) calc(var(--dt) * 2), background-color var(--dt) var(--dt);
}
button:hover {
  --theme: var(--themelight);
  background: var(--themelight);
  border-radius: 0 0 var(--rr) 0;
  transition: all var(--dt), background-color var(--dt) var(--dt);
}


button:after,
button:before{
  content:'';
  --th: calc(var(--rr)/4);
  border: solid var(--theme) var(--th);
  border-left: none;
  border-top: none;
  
  position:absolute;
  inset: 0;
  left: 50%;
  top: 50%;
  --off: calc(-0.5*var(--rr));
  transition: all var(--dt), border-color var(--dt) var(--dt);
}
button:after{
  border-radius: 0 0 calc(var(--rr)*1.33) 0;
}
button:after{
  transition: all var(--dt) var(--dt), border-color var(--dt) var(--dt);
}
button:before {
  --off: calc(-1*var(--rr)); 
  border-radius: 0 0 calc(var(--rr)*1.7) 0;
}
button:hover:after,
button:hover:before{
  top: 0;
  left: 0;
  bottom: var(--off);
  right: var(--off);
  border-color: var(--themelight);
  transition: all var(--dt) var(--dt);
}
button:hover:before {
  transition: all var(--dt) calc(var(--dt) * 2), border-color var(--dt) var(--dt);
}


/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--cback);
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--chidden);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--cprimary);
}

/* section > h1:first-child {
  background-color: var(--csub);
  color: var(--cprimary);
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  font-size: 3rem;
  display: inline-block;
  margin-inline: auto;
}  */

/* section { */

  /* display: grid;
  grid-template: 
    "heading banner" 3rem
    "content banner" auto
    / auto min-content; */

  /* border-right: solid var(--csub) var(--acc);
  border-bottom: solid var(--csub) var(--acc); */
  /* border-radius: 0 0 var(--bbb) 0; */

  /* width: 100%;
  overflow: hidden;
  text-transform: capitalize;
} */

/* 
section div {
  grid-area: content;
}
section > h1 {
  grid-area: banner;
}
section > h2 {
  grid-area: heading;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  margin: 1rem;
}
section > div {
  max-width: min(100%, 80ch);
  margin: auto;
}

*/

