
body:has(.Page.Main){
    background-color: var(--cprimary);
}

.Page.Main {
    background-color: var(--cprimary);
    counter-reset: titles;
    min-height: 200vh;
    --nav: max(2rem, 7vh);
}
/* .Page.Main * {
    transition: transform 0.4s;
} */

.Page.Main a {
	font: inherit;
	color: inherit;
}

.Page.Main .Content{
    padding: 1rem;
	min-height: calc(100vh - (var(--nav) + 2rem));
}

/*
.Page.Main .PersonalIntro  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.Page.Main .PersonalIntro .Who {
	z-index: 9;
	mix-blend-mode: difference;
	color: white;
    display: inline-block;
    position: relative;
}
.Page.Main .PersonalIntro .Who::before, 
.Page.Main .PersonalIntro .Who::after 
{
    font-size: min(5rem, 10vw);
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.Page.Main .Who h1 {
	font-size: 2rem;
	word-wrap: break-word;
	text-align: center;
}
.Page.Main .Who p {
	text-align: center;
} */
