
body:has(.Page.Main){
    background-color: var(--cprimary);
}

.Page.Main {
    background-color: var(--cprimary);
    counter-reset: titles;
    min-height: 300vh;
    /* display: grid; */
    gap:1rem;
    padding:0;
    padding-inline: 0.5rem;
}
/* .Page.Main * {
    transition: transform 0.4s;
} */

.Page.Main a {
	font: inherit;
	color: inherit;
}

.Page.Main .Content{
    padding: 1rem;
}

/*
.Page.Main .PersonalIntro  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.Page.Main .PersonalIntro .Who {
	z-index: 9;
	mix-blend-mode: difference;
	color: white;
    display: inline-block;
    position: relative;
}
.Page.Main .PersonalIntro .Who::before, 
.Page.Main .PersonalIntro .Who::after 
{
    font-size: min(5rem, 10vw);
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.Page.Main .Who h1 {
	font-size: 2rem;
	word-wrap: break-word;
	text-align: center;
}
.Page.Main .Who p {
	text-align: center;
} */
.Page.Main .PersonalIntro .Bars {
    perspective: 1000px;
    position: absolute;
    inset:0;
    width: 100%;
    height: 100%;
		z-index: 8;

		--pstart:2.75;
		--bscroll: max(calc(var(--pscroll) - var(--pstart)),0);
		filter: blur(calc(10px * min(var(--bscroll) , 1)));
		transition: filter 0.2s;
}
.Page.Main .Bar div{
	font-family: inherit;
	vertical-align: middle;
	line-height: 1;
	font-size: 3rem;
}
.Bar1{
	transform-style: preserve-3d;
	transform: translateX(-50rem) translateY(-50rem) translateZ(-2000px)  rotateZ(60deg) ;
	--filler: var(--b1filler);
	--accent: var(--b1accent);
}
.Bar1 > .object{
	animation-name:kf-bar1;
	animation-duration: 20s;
	animation-direction:alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	
}
@keyframes kf-bar1{
	from{transform:translateX(-70vw) rotateY(30deg) rotateX(0deg)}
	to{transform:translateX(-30vw) rotateY(30deg) rotateX(360deg)}
}

.Bar2{
	transform-style: preserve-3d;
	transform:translateY(20rem) translateX(-50rem) translateZ(-1000px) rotateZ(-45deg);
	--filler: var(--b2filler);
	--accent: var(--b2accent);
}
.Bar2 > .object{
	animation-name:kf-bar2;
	animation-duration: 16s;
	animation-direction:alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
}
@keyframes kf-bar2{
	from{transform:translateX(-50rem) rotateY(30deg) rotateX(0deg)}
	to{transform:translateX(-100rem) rotateY(30deg) rotateX(360deg)}
}

.Bar3{
	transform-style: preserve-3d;
	transform:translateY(50vh) translateZ(0) rotateZ(20deg);
	--filler: var(--b3filler);
	--accent: var(--b3accent);
}
.Bar3 > .object{
	animation-name:kf-bar3;
	animation-duration: 8s;
	animation-timing-function: ease-in-out;
	animation-direction:alternate;
	animation-iteration-count:infinite;
}
@keyframes kf-bar3{
	from{transform:translateX(-50rem) rotateY(30deg) rotateX(0deg)}
	to{transform:translateX(-20rem) rotateY(30deg) rotateX(360deg)}
}