.body {
    position: relative;
    height: 200vh;
    --grad: linear-gradient(0,transparent 0%, white 30vh, white calc(100% - 30vh), transparent 100%);
}
.content {
    grid-area: abs;
    position: relative;
    color: var(--cprimary-800);
}

.who {
    --size: calc(18vw - 4px);
    white-space: nowrap;
    font-size: var(--size);
    color: var(--cprimary);
}
.smile{
    position: relative;
    font-family: inherit;
}
.smile::after{
    user-select: none;
    content: ': )';
    font-weight: bold;
    white-space: nowrap;
    
    position: absolute;
    top: 38%;
    left: 53%;
    transform: translate(-50%, -50%) rotate(90deg);
    font-size: calc(var(--size) * 0.18);
    font-family: Arial;
}
.smile:hover::after {
    content: '; )';
    color: hotpink;
}

.bars {
    overflow: hidden;
    perspective: 5000px;
	grid-area: abs;
	height: 100%;

	mask-image: var(--grad);
	-webkit-mask-image: var(--grad);
    
    --b1filler:rgb(255, 255, 255);
    --b2filler:rgb(255, 255, 255);
    --b3filler:#ffffff;
    --b1accent:rgb(40, 12, 87);
    --b2accent:#035541;
    --b3accent:#020e4a;
}
.bar1{
    font-family: inherit;
	transform-style: preserve-3d;
	transform: translateX(-40rem) translateY(-50rem) translateZ(-2000px)  rotateZ(60deg) ;
	--filler: var(--b1filler);
	--accent: var(--b1accent);
}

.bar2 {
    font-family: inherit;
	transform-style: preserve-3d;
	transform:translateY(20rem) translateX(0rem) translateZ(-1000px) rotateZ(-45deg);
	--filler: var(--b2filler);
	--accent: var(--b2accent);
}


.bar3{
    font-family: inherit;
	transform-style: preserve-3d;
	transform:translateY(50vh) translateZ(0) rotateZ(20deg);
	--filler: var(--b3filler);
	--accent: var(--b3accent);
}

.bar1 section {
	animation-name:kf-bar1;
	animation-duration: 20s;
	animation-direction:alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
} 
@keyframes kf-bar1{
	from{transform:translateX(-70vw) rotateY(30deg) rotateX(0deg)}
	to{transform:translateX(-30vw) rotateY(30deg) rotateX(360deg)}
}

.bar2 section{
	animation-name:kf-bar2;
	animation-duration: 16s;
	animation-direction:alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
}
@keyframes kf-bar2{
	from{transform:translateX(-50rem) rotateY(30deg) rotateX(0deg)}
	to{transform:translateX(-100rem) rotateY(30deg) rotateX(360deg)}
}
.bar3 section{
	animation-name:kf-bar3;
	animation-duration: 8s;
	animation-timing-function: ease-in-out;
	animation-direction:alternate;
	animation-iteration-count:infinite;
}
@keyframes kf-bar3{
	from{transform:translateX(-50rem) rotateY(30deg) rotateX(0deg)}
	to{transform:translateX(-20rem) rotateY(30deg) rotateX(360deg)}
}

@media (prefers-reduced-motion) {
    .bar1 section {
        animation-duration: 150s;
    }
    .bar2 section {
        animation-duration: 140s;
    }
    .bar3 section {
        animation-duration: 130s;
    }
}