.content.content { 
    animation: kf-begin 1s 0.25s both;
    position: relative;
    background-color: var(--cprimary);
}
@keyframes kf-begin {
    from {opacity: 0;}
    to {opacity: 1;}
}

.content, 
.content * {
    color: white;
}

.logo{
    display: inline-block;
    z-index: 1;
    margin:0;
}

.logo{
    filter:drop-shadow(0 0 10px gray);
}

.body h2,
.body svg {
    /* mix-blend-mode: difference; */
    /* color: var(--cback); */
    font-size: min(2rem, 4vw);
}

.next{
    position: absolute;
    left:0;
    right: 0;
    display: block;
    text-align: center;
    bottom: 0;
    --pstart: max(0, calc(1 - var(--pscroll)));
    opacity: calc(var(--pstart));
    /* mix-blend-mode: difference; */
    filter: drop-shadow(0 0 10px white);
}
.next:hover{
    animation: kf-hover 0.75s infinite alternate;
}
.next span{
    color: var(--cback);
    font-size: min(4rem,10vmin);
}
@keyframes kf-hover {
    from {transform: translateY(0);}
    80% {transform: translateY(1rem);}
    to {transform: translateY(1rem);}
}
