/* 
body:has(.main){
    background-color: var(--cprimary);
    overflow-x: hidden;
} */

.body {
    background-color: var(--cprimary);
    counter-reset: titles;
    min-height: 200vh;
}

.body a {
	font: inherit;
	color: inherit;
}

.content > * {
    margin-block: 1rem;
    margin-inline: 0.25rem;
}

.content {
    font-size: 2rem;
    max-width: 80ch;
    margin-inline: auto;
}
.content .cv {
    margin: 0;
}

.nav {
    padding: 0.75rem;
    position: sticky;
    top: 0.5rem;
}
.nav * {
    color: rgb(0, 118, 144);
    stroke: currentColor;
}


.title1 {
    margin: 0.33rem;
    color: rgb(0, 0, 63);
    background-color: lightcyan;
}
.title2 {
    margin: 0.33rem;
}

.who {
    margin-top: 4rem;
    color: white;
}

.nav{ 
    z-index: 100;
}

.hello, .nav {
    transition: background-color 2s 1s, border 3s 1s, border-radius 3s 1s, margin 3s 1s;
}
.hello:not(.trip) {
    border-bottom-color: ivory;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
:is(.hello, .nav):not(.trip){
    background-color: ivory;
}
.nav:not(.trip){
    border-top-color: ivory;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.nav.trip{
    margin-top: 1rem;
    margin-inline: 0.5rem;
}
