/* 
body:has(.main){
    background-color: var(--cprimary);
    overflow-x: hidden;
} */

.body {
    background-color: ivory;
    counter-reset: titles;
    min-height: 200vh;
    padding-top: 1rem;
}

.body a {
	font: inherit;
	color: inherit;
}

.hello.hello {
    margin-bottom: 0;
}

.content {
    font-size: 2rem;
    max-width: 80ch;
    margin-inline: auto;
    padding: 1rem;
}
.content > * {
    margin-block: 1rem;
    margin-inline: 0.25rem;
}
.content > h1 {
    margin-top: 5rem;
    color: dimgray;
}

.nav {
    padding: 0.75rem;
    position: sticky;
    top: 0.5rem;
    background-color: rgba(255, 255, 255, 0.6);
    /* filter: drop-shadow(0 0 10px white); */
}
.nav * {
    color: rgb(86, 86, 86);
    stroke: currentColor;
}


.title1 {
    margin: 0.33rem;
    color: rgb(0, 0, 63);
    background-color: lightcyan;
}
.title2 {
    margin: 0.33rem;
}

.who {
    margin-top: 4rem;
    color: white;
}

.nav{ 
    z-index: 100;
}

.hello, .nav {
    transition: background-color 2s 0.2s, border 3s 0.2s, border-radius 3s 0.2s, margin 3s 0.2s;
}
.hello:not(.trip) {
    border-bottom-color: ivory;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
:is(.hello, .nav):not(.trip){
    background-color: ivory;
}
.nav:not(.trip){
    border-top-color: ivory;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-inline: 1rem;
}
.nav.trip{
    margin-top: 1rem;
    margin-inline: 0.25rem;
}
