.title {
    --themeHue: 20deg;
    --theme: lemonchiffon;
}

.card.card  {
    background-color: var(--theme);
}

.heading {
    color: var(--theme);
    filter: brightness(0.9);
}

.gfx {
    
}

.content {
    display: grid;
    gap: 2rem;
    grid-template-columns: 0.3fr 1fr 1fr;
    grid-auto-rows: minmax(30vh, max-content);
    grid-template-areas: 
        "calc_ calc calc"
        "calc_ minim minim"
        "jsong jsong jsong"
        "jsong jsong jsong"
        "melon sneel sneel"
        "miki sneel sneel"
        "miki miki_ moji";
    
    --theme: ivory;
    /* background-color: var(--theme); */
    
    border-radius: 1rem;
    filter: drop-shadow(0 0 1px gray);
}
.content > * {
    padding: 1rem;
}
.content > * {
    border-color: transparent;
}
.content img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 20;
}

.content > article h1 {
    font-size: 5vw;
    text-align: center;
}
.content > article h2 {
    text-align: center;
    font-size: 2vw;
    text-transform: capitalize;
    font-weight: 200;
    padding: 1rem;
    font-family: 'Josefin Sans', sans-serif;
}

.content article:not(:hover) :is(h2, ul){
    opacity: 0.2;
}
.content article:hover :is(h2, ul){
    opacity: 1;
}

.timeline {
    grid-column: span 3;
    height: 5rem;
}

.tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 20vw;
    gap: 1rem;
    padding: 0.25rem;
    border-radius: 1rem;
}
.tag {
    margin: 0;
    list-style: none;
    padding: 0.2rem;
    padding-inline: 1rem;
    border-radius: 1rem;
    text-transform: capitalize;
    /* border: solid lightgray 1px; */
    /* font-size: 0.75rem; */
    font-family: 'Nunito', sans-serif;
    color: black;
    background: snow;
    /* opacity: 0.4; */
    /* mix-blend-mode: multiply; */
}
/* .tag.c {
    background-color: lightyellow;
    color: darkkhaki;
}
.tag.cpp,
.tag.javascript {
    background-color: lightcyan;
    color: teal;
}
.tag.python {
    background-color: lightsalmon;
    color: firebrick;
}
.tag.hardware {
    background-color: lavender;
    color: indigo;
} */

.numcalcium {
    grid-area: calc;
    position:relative;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    contain:layout;
    padding: 2rem;
    z-index: 10;

    background-color: azure;
    color: darkslateblue;
}
.numcalcium:before {
    content: '';
    background-color: azure;

    height: calc(100% + 2px);
    width: 4rem;
    /* border-top: solid lightgray 1px; */

    position: absolute;
    top: -1px;
    right: calc(100% - 0.5rem);
}
.numcalcium:after {
    content: '';
    box-sizing: content-box;
    border-left: solid azure 2rem;
    border-top: solid azure 2rem;
    border-top-left-radius: 4rem;

    height: 1rem;
    width: 2rem;

    z-index: 1;
    position: absolute;
    bottom: calc(-1rem - 1px);
    left: -4rem;
}

.numcalciumFooter {
    background-color: azure;
    grid-area: calc_;
    border-top-right-radius: 0;
    padding: 1rem;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
}
.numcalciumFooter img{
    max-width: 20vw;
}

.minim {
    grid-area: minim;
    background-color: honeydew;
    color: darkslategrey;
}

.jsong {
    grid-area: jsong;
    background-color: papayawhip;
    color: darkkhaki;
    min-height: 80vh;
}

.sneel {
    grid-area: sneel;
    background-color: rgb(185, 238, 144);
    color: darkgreen;
}

.melon {
    grid-area: melon;
    background-color: mistyrose;
    color: salmon;
}

.miki {
    grid-area: miki;
    background-color: lavender;
    color: midnightblue;
    border-bottom-right-radius: 0;
}
.miki.miki {
    flex-direction: column-reverse;
}
.mikiFooter {
    background-color: lavender;
    padding: 0;
    padding-right: 2rem;
    /* width: 10rem; */
    contain: layout;
}
.mikiFooter:before {
    content: '';
    background-color: lavender;

    height: calc(100% + 2px);
    width: 3rem;
    /* border-bottom: solid lightgray 1px; */

    position: absolute;
    bottom: -1px;
    right: calc(100% - 11px);
}
.mikiFooter:after {
    content: '';
    border-left: solid lavender 2rem;
    border-bottom: solid lavender 2rem;
    border-bottom-left-radius: 4rem;

    height: 4rem;
    width: 4rem;

    z-index: 1;
    position: absolute;
    bottom: calc(100% - 2rem);
    left: -4rem;
}


.moji {
    grid-area: moji;
    background-color: linen;
    color: darkkhaki;
}