
.title {
    --theme-back: antiquewhite;
    --theme: snow;
}
.heading {
    color: var(--theme-back);
    filter: brightness(0.9);
}
.card.card {
    background-color: var(--theme-back);
    color: var(--theme);
}
.message {
    grid-area: abs;
    z-index: 20;
    line-height: 1.2;
    color: lightslategray;
}
.gfx{
    grid-area: abs;
    height: 80vh;
}

.trigger {
    grid-area: abs;
    place-self: center;
}

.info{
    flex-grow: 0.5;
    margin-block: 4rem;
}
.content.content {
    padding: 2rem;
    color: #5c5470;
    /* border: none; */
    /* background-color: rgb(217, 255, 235); */
}
.lang {
    color: #2a2438;;
    list-style: none;
}
.lang li {
    font-family: inherit;
}


.info :is(p, span) {
    line-height: 1.2;
}

.polish {
    position: relative;
    animation: polish 6s;
    margin-left: 2rem;;
}
@keyframes polish {
    40%,70% {
        color: red;
        filter: drop-shadow(0 0 2px lightgray);
    }
}
.polish:after {
    content: 'Polish';
    position: absolute;
    top: 0.5px;
    left: 0;
    color: white;
    clip-path: inset(0 0 100% 0);
    animation: polish-top 6s;
    filter: drop-shadow(0 0 2px white);
}
@keyframes polish-top {
    40%,70% {
        clip-path: inset(0 0 42% 0);
    }
}


.flipper {
    --theme:  #2a2438;    
    /* opacity: 0.7; */
    filter: drop-shadow(0 0 10px lightgray);
}
