
.body {
    --theme-back: antiquewhite;
    --theme: snow;
    background-color: var(--theme-back);
    color: var(--theme);
    padding: 1rem;
}
.title {
    grid-area: abs;
    text-align: center;
    place-self: center;
    z-index: 20;
    color: lightslategray;
    line-height: 1.2;
}
.gfx{
    grid-area: abs;
    height: 80vh;
}

.trigger {
    grid-area: abs;
    place-self: center;
}


.content {
    margin-block: 15rem;
    color: lightgreen;
}
.lang {
    color: darkseagreen;
    list-style: none;
}
.lang li {
    font-family: inherit;
}
.content i {
    /* width: 4rem;
    height: 4rem;
    font-size: 4rem; */
}

.info :is(p, span) {
    line-height: 1.2;
}

.polish {
    position: relative;
    animation: polish 6s;
    margin-left: 2rem;;
}
@keyframes polish {
    40%,70% {
        color: red;
        filter: drop-shadow(0 0 2px lightgray);
    }
}
.polish:after {
    content: 'Polish';
    position: absolute;
    top: 0.5px;
    left: 0;
    color: white;
    clip-path: inset(0 0 100% 0);
    animation: polish-top 6s;
    filter: drop-shadow(0 0 2px white);
}
@keyframes polish-top {
    40%,70% {
        clip-path: inset(0 0 42% 0);
    }
}