
:root {
    --cfore: #18181a;
    --cback: rgb(255, 255, 255);
    --chidden: rgb(94, 120, 85);
    --caccent: #b3fd6e;
    --cprimary:#d8fecf;
    --csecondary: #98f1e8;
    --cneutral:#feffe7;
    --cneutral2: #749e76;
  
    --b1filler:rgb(255, 255, 255);
    --b2filler:rgb(255, 255, 255);
    --b3filler:#79856a;
    --b1accent:#d1b296;
    --b2accent:#abd8cd;
    --b3accent:#e7c1db;
    --bgc:black;
    --text:#f6edee;
  }
  