
:root {
    --cfore: #18181a;
    --cback: rgb(255, 255, 255);
    --chidden: rgb(94, 120, 85);
    --caccent: #20ca02;
    --cprimary:#b9fab1;
    --cprimary-100:#dbffd2;
    --cprimary-800: #749e76;
    --cprimary-900:#114f02;
    --csecondary: #98f1e8;
    --cneutral:#ffffff90;
  
    --b1filler:rgb(255, 255, 255);
    --b2filler:rgb(255, 255, 255);
    --b3filler:#ffffff;
    --b1accent:#9bd5ff;
    --b2accent:#abd8cd;
    --b3accent:#e2cfff;
  }
  