
:root {
    --cfore: #18181a;
    --cback: rgb(255, 255, 255);
    --chidden: rgb(94, 120, 85);
    --caccent: #b3fd6e;
    --cprimary:#b1f9a1;
    --csecondary: #98f1e8;
    --cneutral:#f3ffef;
    --cneutral2: #749e76;
  
    --b1filler:rgb(255, 255, 255);
    --b2filler:rgb(255, 255, 255);
    --b3filler:#ffffff;
    --b1accent:#9bd5ff;
    --b2accent:#abd8cd;
    --b3accent:#e2cfff;
  }
  