.medium {
    font-size: 1.4rem;
}

.large { 
    font-size: 3rem;
}
.vlarge { 
    font-size: 5rem;
}
.huge { 
    font-size: 8rem;
}

.headings {
    font-family: 'Josefin Sans';
}

.thin {
    font-weight: 100;
}