@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Manrope:wght@200;500&family=Nunito:wght@300&family=Permanent+Marker&display=swap');

.size100 {
    font-size: 1rem;
}
.size200 {
    font-size: 1.2rem;
}
.size300 {
    font-size: 1.4rem;
}
.size500{
    font-size: 2rem;
}
.size600{ 
    font-size: 3rem;
}
.size700 { 
    font-size: 5rem;
}
.size800 { 
    font-size: 8rem;
}
.size900 { 
    font-size: 10rem;
}

.left{
    text-align: left;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}

.sideways {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    width:min-content;
    height: min-content;
    line-height: 1;
}

.upper {
    text-transform: uppercase;
}
.caps{
    text-transform: capitalize;
}

.default {
    font-family: 'Inter', sans-serif;
}
.headings {
    font-family: 'Josefin Sans';
}
.subheadings {
    font-family: 'Nunito', sans-serif;
}
.serious {
    font-family: 'Cormorant Garamond', serif;
}

.weight800,
.fat {
    font-weight: 800;
}
.weight700 {
    font-weight: 700;
}
.weight600 {
    font-weight: 600;
}
.weight500 {
    font-weight: 500;
}
.weight400,
.normal {
    font-weight: 400;
}
.weight300 {
    font-weight: 300;
}
.weight200 {
    font-weight: 200;
}
.weight100,
.thin {
    font-weight: 100;
}