.flex {
    display: flex;
    flex-direction: row;
}

.flex.down {
    flex-direction: column;
}

.flex.center{
    align-items: center;
}

.flex.space{
    justify-content: space-around;
}
.flex.between{
    justify-content: space-between;
}