.listCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.barCenter {
    display: flex;
    align-items: center;
}

.floatLeft {
    margin-right: auto;
}
.floatRight {
    margin-left: auto;
}

.wide {
    width: 100%;
}

.twinCol {
    display: grid;
    grid-template-columns: repeat(2,auto);
}