.listCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.barCenter {
    display: flex;
    align-items: center;
}

.floatLeft {
    margin-right: auto;
}
.floatRight {
    margin-left: auto;
}

.wide {
    width: 100%;
}

.twinCol {
    display: flex;
    flex-wrap: wrap;
}
.twinCol > *:first-child {
    flex-basis: 66%;
}

.twinCol > *:last-child {
    flex-basis: 32%;
}