.Hello {
    height: 200vh;

    background-color: var(--cprimary);

    --p1: min(max(calc(var(--pscroll) - 3.15), 0),1);

    --hh: calc((100vh - (var(--nav) + 2rem)) * (1 - var(--p1)));
    
    position: sticky;
    top: calc((200vh - (var(--nav) + 1.25rem)) * -1);
}
.Hello nav::after {
    content: '';

    position: absolute;
    top: 100%;
    left: -0.5rem;
    z-index: 100;

    background-image: linear-gradient(180deg, var(--cprimary) 0%, transparent 100%);
    width: 100vw;
    height: 0.5rem;
}

.Hello .Slider {
    margin-inline: 0.5rem;
    height: calc(100vh - 1rem);
    position: sticky;
    top: 0.5rem;

    padding: 0;
    overflow: visible;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--hh) calc(var(--nav) + 1rem);
    grid-template-areas: "hello" "nav";

    height: max-content;
}

.Hello .Slider > * {
    overflow: hidden;
}
.Hello nav {
    margin: 1rem;
}
.Hello nav .Logo.Text {
    font-size: 1rem;
}

.Hello header {
	--grad: linear-gradient(0,transparent 0%, white 4rem, white calc(100% - 4rem), transparent 100%);
}

.Hello .Who {
    overflow: hidden;
    position: absolute;
    inset: 0;
    grid-area: hello;

	mask-image: var(--grad);
	-webkit-mask-image: var(--grad);
}

.Hello .Who h1{
    --size: calc(max(2rem, 20vw) - 4px);
    font-size: var(--size);
    color: var(--cprimary);
}
.Hello .Who .Details{
    color: var(--cprimary-800);
    font-size: 3vmin;
    text-align: center;
}
.Hello .Who .Details h2{
    font-size: 8vmin;
    font-family: inherit;
}
.Hello .Who .Details h2 span {
    color: var(--cprimary-900);
    font-family: inherit;
}

.Hello .Who h1 span{
    position: relative;
}
.Hello .Who h1 span::after{
    user-select: none;
    content: ': )';
    font-weight: bold;
    
    position: absolute;
    top: 40%;
    left: 52%;
    transform: translate(-50%, -50%) rotate(90deg);
    font-size: calc(var(--size) * 0.3);
    font-family: Arial;
}
.Hello .Who h1:hover span::after {
    content: '; )';
}

.Hello  .Bars {
    /* perspective: 5000px; */
	grid-area: hello;
	height: 100%;

	mask-image: var(--grad);
	-webkit-mask-image: var(--grad);
}
.Hello .Bar div{
	font-family: inherit;
	vertical-align: middle;
	line-height: 1;
	font-size: 3rem;
}
.Bar1{
	transform-style: preserve-3d;
	transform: translateX(-40rem) translateY(-50rem) translateZ(-2000px)  rotateZ(60deg) ;
	--filler: var(--b1filler);
	--accent: var(--b1accent);
}
.Bar1 > .object{
	animation-name:kf-bar1;
	animation-duration: 20s;
	animation-direction:alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	
}
@keyframes kf-bar1{
	from{transform:translateX(-70vw) rotateY(30deg) rotateX(0deg)}
	to{transform:translateX(-30vw) rotateY(30deg) rotateX(360deg)}
}

.Bar2{
	transform-style: preserve-3d;
	transform:translateY(20rem) translateX(0rem) translateZ(-1000px) rotateZ(-45deg);
	--filler: var(--b2filler);
	--accent: var(--b2accent);
}
.Bar2 > .object{
	animation-name:kf-bar2;
	animation-duration: 16s;
	animation-direction:alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
}
@keyframes kf-bar2{
	from{transform:translateX(-50rem) rotateY(30deg) rotateX(0deg)}
	to{transform:translateX(-100rem) rotateY(30deg) rotateX(360deg)}
}

.Bar3{
	transform-style: preserve-3d;
	transform:translateY(50vh) translateZ(0) rotateZ(20deg);
	--filler: var(--b3filler);
	--accent: var(--b3accent);
}
.Bar3 > .object{
	animation-name:kf-bar3;
	animation-duration: 8s;
	animation-timing-function: ease-in-out;
	animation-direction:alternate;
	animation-iteration-count:infinite;
}
@keyframes kf-bar3{
	from{transform:translateX(-50rem) rotateY(30deg) rotateX(0deg)}
	to{transform:translateX(-20rem) rotateY(30deg) rotateX(360deg)}
}