/* 
body:has(.main){
    background-color: var(--cprimary);
    overflow-x: hidden;
} */

.body {
    background-color: var(--cprimary);
    counter-reset: titles;
    min-height: 200vh;
    --nav: max(2rem, 7vh);
}

.body a {
	font: inherit;
	color: inherit;
}

.content{
    min-height: calc(100vh - (var(--nav) + 2rem));
    display: grid;
    grid-template-columns: 1.25rem 1fr 1.25rem;
    grid-template-areas: "border-left content border-right";
    justify-items: center;
}
.borderLogo {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-weight: bold;
    color: var(--cprimary-100);
}
.borderLogo:first-child {
    grid-area: border-left;
}
.content :not(.BorderLogo){
    grid-area: content;
} 

.article {
    max-width: 80ch;
    letter-spacing: 0.125rem;
    font-size: 1.25rem;
    color:var(--cprimary-900);
}
.article .title {
    text-transform: unset;
    /* font-style: italic; */
    font-size: 6rem;
    color: var(--cprimary-800);
}

