.scene {
    perspective: 500px;
    transform-style: preserve-3d;
    width: calc(var(--unit) / 1.5);
    /* border: solid; */
}

.object {
    display: grid;
    grid-template-areas: "abs";
    transform-style: preserve-3d;
}

.face {
    transform-style: preserve-3d;
    place-self: center;
    grid-area: abs;
    height: var(--unit);
    aspect-ratio: 1 / 2;
    filter: contrast(0) sepia(100%) hue-rotate(var(--themeHue,120deg)) saturate(20) brightness(0.6) ;
}
.face span {
    font-size: calc(var(--unit) * 0.12);
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    white-space: break-spaces;
    opacity: 0.5;
    position: absolute;
}


.object {
    transition: transform 2s;
}
.start .object {
    transform: translateX(calc(var(--unit) * -0.17)) translateZ(calc(var(--unit) * -0.2))  rotateY(-40deg);
    animation: float 20s 2s infinite;
}
@keyframes float {
    50% {
        transform: translateX(calc(var(--unit) * 0.17)) translateZ(calc(var(--unit) * -0.2))  rotateY(40deg);
    }
}

.face span {
    transition: transform 3s;
}
.start .face span{
    transform: translateY(calc(var(--index) * var(--unit) * 0.11));
}

.face {
    transition: transform 3s;
}
.start .face {
    transform: translateZ(calc((var(--index)) * -50px));
    animation: pulse 10s 3s infinite;
}

@keyframes pulse {
    50% {
        transform: translateZ(calc((var(--index)) * -20px));
    }
}