.SoftwareCard {
    border: solid black 2px;
    border-radius: 0.5rem;
}

.SoftwareCard header,
.SoftwareCard footer {
    display: flex;
    background-color: rgb(56, 56, 56);
    color:white;
}

.SoftwareCard h1 {
    font-size: 1rem;
    margin-inline: auto;
}


.SoftwareCard .Control {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin: 0.1rem;
    border-radius: 50%;
}

.SoftwareCard .Control:nth-child(1){
    background-color: rgb(187, 0, 0);
    border: solid rgb(255, 1, 1) 1px;
}
.SoftwareCard .Control:nth-child(2){
    background-color: rgb(219, 170, 36);
    border: solid rgb(255, 251, 1) 1px;
}
.SoftwareCard .Control:nth-child(3){
    background-color: rgb(28, 138, 0);
    border: solid rgb(1, 255, 56) 1px;
}

.SoftwareCard .Content img {
    display: block;
    padding: 0;
    margin: 0;
}




.SoftwareCard.Mobile {
    --size: max(min(33vw,27rem), 15rem);
    width: var(--size);
    height: calc(var(--size) * 2);
}

.SoftwareCard.Mobile{
    flex-direction: column;
    border-radius: 4rem;
    overflow: hidden;
    border-width: 0.5rem;
    position: relative;
}
.SoftwareCard.Mobile header {
    position: absolute;
    left:50%;
    top:-2px;
    transform: translateX(-50%);
    height: 2.5rem;
    width: 50%;
    border-radius: 0 0 1.5rem 1.5rem;
    background-color: black;
}
.SoftwareCard.Mobile .Content{
    height: 100%;
    display: inline-block;
}

.SoftwareCard.Mobile img{
    height: 100%;
    width: 100%;
    display: block;
}


.SoftwareCard.Mobile .Time {
    color: gray;
    position: absolute;
    right: 110%;
    bottom:0;
    padding: 0;
    line-height: 1;
    font-weight: bold;
}

.SoftwareCard.Mobile .Battery {
    /* background-color: ; */
    border: solid gray 2px;
    border-radius: 4px;
    width: 2rem;
    height: 1rem;
    display: inline-block;
    margin: 0.25rem;

    position: absolute;
    left: 110%;
    bottom:0;
}
.SoftwareCard.Mobile .Battery::before{
    content: ''; 
    position: absolute;
    top:50%;
    left:1px;
    transform: translateY(-50%);
    background-color: gray;
    width: 80%;
    height: 80%;
}

.SoftwareCard.Mobile .Battery::after{
    content: ''; 
    position: absolute;
    top:50%;
    left:100%;
    transform: translateY(-50%);
    background-color: gray;
    width: 14%;
    height: 80%;
    border-radius: 2rem;
}

.SoftwareCard.Mobile::after {
    content: '';
    bottom:0.5rem;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: white;
    width: 30%;
    height: 0.25rem;
    border-radius: 1rem;
}

.SoftwareCard.Mobile img {
    box-shadow: inset 0 0 10px #000000;
}